body 
    position: relative

#banner
    z-index: -1000
    position: absolute
    top: -200px
    
    
header
    background: red
    width: 500px
    margin: 0 auto

header h1
    font-family: 'Paytone One', sans-serif

img
    max-width: 100%
    max-height: 100%
    
#header-container
    position: relative

#peach-container
    height: 50px
    position: absolute
    top: 0px
    left: 50%
    margin-left: -157px

#date-weather 
    text-align: center
    
