@import "grid"
@import "utils"
@import "bootstrap"

h1
    text-align: center
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
h2
    font-family: serif
    text-decoration: underline
  
body 
    // background-color: #E38833
  
#date-weather 
    text-align: center